.characterBoxContainer {
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(185, 180, 180);
    min-height: 200px;
    margin: 15px;
    width: 300px;
}

.infoContainer {
    background-color: #6495ED;
    border-radius: 5px 5px 0 0;
    padding: 8px;
}

.characterName {
    display: inline;
}

.characterClass {
    color: #2F4F4F;
    display: inline;
    margin-left: 10px;
}

.addDailyToggle {
    cursor: pointer;
    font-size: 20px;
    float: right;
    margin-right: 5px;
}
