.addCharacterContainer {
  background-color: black;
  height: 100vh;
  margin: 0px -40px -20px -40px;
  padding-top: 20vh;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 1;

  .error {
    color: white;
  }

  .go-back-container {
    position: absolute;
    margin-left: 13%;
    margin-top: -10vh;

    .go-back-hex {
      color: white;
      font-size: 45px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .addCharacterTitle {
    color: #fffaf0;
    font-family: "lato";
    margin-bottom: 40px;
  }

  .addCharacterInput {
    border: none;
    font-size: large;
    height: 30px;
    margin: 2px;
    padding: 5px;
    text-align: center;
    width: 250px;
  }

  .addCharacterInput:focus {
    outline: none;
  }

  .addCharacterInput:hover {
    background-color: #fffaf0;
  }

  .addCharacterBTN {
    font-size: large;
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 3px;
    height: 30px;
    margin-top: 10px;
    width: 250px;

    &:hover {
      background-color: #f39c12;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
