.weeklyTable {
    text-align: center;
    border: 1px solid rgb(135, 134, 134);
    border-spacing: 0;
    height: 200px;
    margin: 0 auto;
    max-width: 80%;
}

th {
    background-color: #6495ED;
    width: 250px;
}

.weeklyCheckbox {
    height: 33%;
    width: 40%;
    cursor: pointer;
}

.weeklyCheckbox:checked {
    accent-color: black;
}