.weeklyTable {
    background-color: rgba(49, 60, 69, 0.5);
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 80%;
    min-height: 150px;
    text-align: center;

    th {
        background-color: #F39C12;
        font-size: 18px;
        height: 60px;
        width: 200px;
    }

    td {
        height: 50px;
    }

    tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.no-weeklies {
    color: #C0C0C0;
    font-style: italic;
    margin-top: 80px;
    text-align: center;
}

.boss-total-container {
    color: rgb(255, 255, 255, .9);
    float: right;
    margin-right: 10%;
    margin-top: -35px;
    padding: .5em;
    width: 280px;

    .bossTotal-header {
        display: inline-block;
        margin-right: 20px;
    }

    .bosstotal {
        display: inline-block;
    }
}

@media only screen and (max-width: 1600px) {
    .weeklyTable {
        min-width: 100%;
    }

    .boss-total-container {
        margin-right: 0;
    }
}