.weeklyTable {
    text-align: center;
    border: 1px solid black;
    height: 200px;
    margin: 0 auto;
    padding-left: 20px;
    max-width: 80%;
}

.weeklyCheckbox {
    appearance: none;
    background-color: #b3a9a9;
    height: 18px;
    width: 18px;
    cursor: pointer;
    -webkit-appearance: none;
}

th, tr{
    border: 1px solid black;
    width: 250px;
}