.placeholder {
    height: 5px;
    margin-bottom: 7%;
}

.category-sub-container {
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    row-gap: 50px;
    width: 95%;
}

.category-title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
}