.addDailyInput {
    background-color: #FFFAFA;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 10px 0 0 10px;
    padding: 2px;
    width: 30%; 
}

.addDailyInput:focus {
    outline: none;
}

.addDailyBTN {
    cursor: pointer;
    display: inline;
    margin-left: 3px;
}

