.dailyContainer {
    margin-bottom: 5px;

    .dailyCheckbox {
        accent-color: #737271;
        margin: 7px;
        transform: scale(1.3);
        background-color: black;
    }

    .dailyName {
        cursor: pointer;
        display: inline;
        font-weight: normal;
        margin-left: 3px;
    }

    .deleteDailyBTN {
        color: #737271;
        cursor: pointer;
        display: inline;
        font-size: 15px;
        margin-left: 25px;

        &:hover {
            color: black;
        }
    }

    input[type=checkbox]:checked + .dailyName {
        color: #737271;
        text-decoration: line-through;
    }
}









