.dailyContainer {
    margin-bottom: 5px;

    .dailyCheckbox {
        accent-color: #FF4500;
        margin: 7px;
        transform: scale(1.2);
    }

    .dailyName {
        cursor: pointer;
        display: inline;
        font-weight: normal;
    }

    .deleteDailyBTN {
        cursor: pointer;
        display: inline;
        margin-left: 25px;
    }

    input[type=checkbox]:checked + .dailyName {
        color: #FF4500;
        text-decoration: line-through;
    }
}







