.addWeeklyContainer {
    background-color: black;
    min-height: 100vh;
    margin: 0px -40px -20px -40px;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100vw;
    z-index: 1;
    padding-top: 17vh;
    padding-left: 40px;
    padding-right: 40px;

    .go-back-container {
        position: absolute;
        margin-left: 7%;
        margin-top: -8vh;

        .go-back-hex {
            color: white;
            font-size: 45px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .addWeeklyTitle {
        margin-bottom: 40px;
    }
    
    .addWeeklyInput {
        font-size: large;
        border: none;
        height: 30px;
        padding: 5px;
        text-align: center;
        width: 250px;
    }
    
    .addWeeklyInput:hover {
        background-color: #FFFAF0;
    }
    
    .addWeeklyInput:focus {
        outline: none;
    }
}

