.CL-container {
    min-height: 380px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

.empty-CL-container {
    min-height: 380px;
    width: 90%;
    margin: 0 auto;

    .no-characters {
        color: #C0C0C0;
        font-style: italic;
        margin-top: 80px;
        text-align: center;
    }
}