.weeklyNameContainer {
    margin-left: 20px;
    float: left;
    text-transform: capitalize;

    h3{
        font-weight: normal;
        display: inline;
    }

    h4 {
        display: inline;
        font-weight: normal;
        margin-left: 10px;
    }
}



