.missions-container {
    background-color: black;
    height: 100vh;
    margin: 0px -40px -20px -40px;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;

    .mission-banner-container {
        display: inline-block;
        height: 200px;
        margin-left: 15%;
        margin-top: 80px;
        width: 70vw;

        .mission-banner-img {
            background-image: url('../../assets/maplestory-pathfinder-banner-transparent.png');
            background-size: contain;
            background-position: center;
            opacity: .85;
            width: 100%;
            height: 100%;
        }
    }

    .missions-sub-container {
        min-height: 40vh;
        padding: 20px;
        width: 60%;
        margin: auto;
        margin-top: 3%;

        .mission-titles {
            color: #767b78;
            font-family: 'Lato';
            margin-bottom: 50px;
        }
    }
}