.missions-container {
    background-color: black;
    min-height: 100vh;
    margin: 0px -40px -20px -40px;
    padding-bottom: 10%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .mission-banner-container {
        display: inline-block;
        height: 200px;
        margin-left: 15%;
        margin-top: 80px;
        width: 70vw;

        .mission-banner-img {
            background-image: url('../../assets/maplestory-pathfinder-banner-transparent.png');
            background-size: contain;
            background-position: center;
            opacity: .85;
            width: 100%;
            height: 100%;
        }
    }

    .missions-sub-container {
        min-height: 40vh;
        padding: 20px;
        width: 60%;
        margin: auto;
        margin-top: 3%;

        .mission-titles {
            color: #767b78;
            font-family: 'Lato';
            margin-bottom: 50px;

            .view-characters-link {
                color: #767b78;
                font-size: 16px;
                float: right;

                &:hover {
                    color: rgb(181, 178, 178);
                }
            }
        }
    }
}

@media only screen and (max-width: 2000px) {
    .missions-container {
        .missions-sub-container {
            width: 80%;
        }
    }
}